/* Do not remove the comments below. They are the markers used by wiredep to inject
   sass dependencies defined in the bower.json */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700|Merriweather+Sans:400,700,400italic|Lusitana:400,700);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

h1 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 51px;
  line-height: 52px;
  font-weight: 900; }

h2 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 34px;
  line-height: 41px;
  font-weight: 900; }

h3 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 19px;
  line-height: 27px; }

h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  color: #aaa;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  border-top: 1px solid #ddd;
  padding: 7px 0 9px 0;
  margin: 0.75em 0 0.75em; }

.header {
  margin-bottom: 1.5em; }
  .header__link {
    color: #0074D9;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    text-decoration: none;
    text-transform: lowercase; }
    .header__link:visited {
      color: #0074D9; }
    .header__link:hover {
      color: #0059a6; }
    .header__link:active {
      color: #004b8c; }
    .header__link--title {
      font-family: "Merriweather Sans", sans-serif;
      display: block;
      font-size: 19px;
      line-height: 27px;
      color: #7FDBFF;
      display: block; }
      @media screen and (min-width: 1224px) {
        .header__link--title {
          display: inline-block; } }
    .header__link--nav {
      border-right: 1px solid #aaa;
      padding: 0 1.5em 0 1.5em; }
      .header__link--nav:last-of-type {
        border: 0; }
      .header__link--nav:visited, .header__link--nav:hover, .header__link--nav:active {
        color: #aaa; }

.post {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Merriweather", serif;
  text-align: left; }
  .post::after {
    clear: both;
    content: "";
    display: table; }
  .post .terminal {
    padding: 1.5em;
    border: 1px solid #111;
    background-color: #aaa;
    color: #fff; }
  .post__category {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Merriweather Sans", sans-serif;
    font-size: .7em;
    font-weight: 700;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase; }
  .post blockquote {
    border-left: 0; }
    .post blockquote p:before {
      font-family: FontAwesome;
      position: relative;
      content: "\f10d";
      font-size: 2em;
      margin-right: 0.75em; }
  .post img {
    max-width: 33%;
    height: auto;
    float: left;
    margin-right: 1.5em; }
    @media screen and (min-width: 1224px) {
      .post img {
        margin-bottom: 1.5em;
        max-width: 100%; } }
  .post .emoji {
    vertical-align: top;
    float: none;
    max-width: none;
    margin: 0; }
  .post__title {
    font-family: "Merriweather Sans", sans-serif;
    display: block;
    font-size: 34px;
    line-height: 41px;
    font-weight: 900; }
  .post__date {
    font-style: italic; }
  .post__content {
    font-family: "Merriweather", serif;
    line-height: 1.6em;
    font-size: .9em;
    margin-bottom: 1.5em;
    word-wrap: break-word; }
    .post__content span {
      font-family: "Merriweather Sans", sans-serif;
      font-weight: 700; }
  .post .instagram-media {
    margin: 1.5em auto 1.5em;
    padding: 0;
    width: 100%;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15); }
  @media screen and (min-width: 1224px) {
    .post .instagram-media {
      width: 70%;
      width: -webkit-calc(70%);
      width: -moz-calc(70%);
      width: calc(70%); } }
  .post__photo-set {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .post__photo-set__photo {
      display: inline-block;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .post__photo-set__photo:first-of-type {
        -webkit-box-flex: 4;
        -webkit-flex-grow: 4;
        -moz-box-flex: 4;
        -ms-flex-positive: 4;
        flex-grow: 4; }
      .post__photo-set__photo:last-of-type {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -moz-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2; }

.about__photoHeader {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .about__photoHeader::after {
    clear: both;
    content: "";
    display: table; }
  .about__photoHeader img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .about__photoHeader img:last-child {
      margin-right: 0; }

.about__photoFooter {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .about__photoFooter::after {
    clear: both;
    content: "";
    display: table; }
  .about__photoFooter img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .about__photoFooter img:last-child {
      margin-right: 0; }

.footer {
  color: #aaa;
  border-top: 1px solid #ddd;
  margin: 1.5em 0 1.5em 0;
  padding: 0.75em 0 1.5em 0; }
  .footer__social {
    list-style: none; }
    .footer__social li {
      float: left;
      padding: 0 0.75em 0 0.75em;
      font-size: 1.5em; }

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

html, body {
  font-size: 1em;
  height: 100%; }

body {
  background: #fff;
  color: #111;
  -webkit-font-smoothing: antialiased;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  padding: 0 1.5em 1.5em 1.5em;
  margin: 0;
  line-height: 1.5; }

p, div {
  margin: 1.5em 0 1.5em 0; }

h1 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 51px;
  line-height: 52px;
  font-weight: 900; }

h2 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 34px;
  line-height: 41px;
  font-weight: 900; }

h3 {
  font-family: "Merriweather Sans", sans-serif;
  display: block;
  font-size: 19px;
  line-height: 27px; }

h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  display: block; }

a {
  color: #0074D9;
  text-decoration: none; }
  a:visited {
    color: #0074D9; }
  a:hover {
    color: #0059a6; }
  a:active {
    color: #004b8c; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .post ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  .post ol {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }

.site {
  text-align: justify;
  max-width: 700px;
  margin: 1.5em auto; }
  .site__cover {
    width: 100%;
    height: auto; }

.postDescription__title {
  display: inline; }
  .postDescription__title + * {
    display: inline; }

.postDescription__link {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative; }
  .postDescription__link span {
    font-family: "Lusitana", serif;
    font-style: normal;
    position: absolute;
    font-size: 1.5em;
    top: -1px;
    right: -1.5em; }

.postDescription__truncatedContent {
  font-family: "Merriweather", serif;
  font-size: .9em;
  margin-bottom: 1.5em;
  word-wrap: break-word; }

.postDescription__date {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: .9em;
  margin: 1.5em 0 0.75em 0; }

hr {
  width: 1px; }
