h1 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 51px;
  line-height: 52px;
  font-weight: 900;
  letter-spacing: 1px; }

h2 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 34px;
  line-height: 41px;
  font-weight: 900; }

h3 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 19px;
  line-height: 27px; }

h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  color: #aaa;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  border-top: 1px solid #ddd;
  padding: 7px 0 9px 0;
  margin: 1.5px 0 1.5px; }

.header__link {
  color: #0074D9;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  text-decoration: none;
  text-transform: lowercase;
  margin-bottom: 6px; }
  .header__link:visited {
    color: #0074D9; }
  .header__link:hover {
    color: #0059a6; }
  .header__link:active {
    color: #004b8c; }
  .header__link--title {
    font-family: "Merriweather Sans", sans-serif;
    letter-spacing: 1px;
    display: block;
    font-size: 51px;
    line-height: 52px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #7FDBFF;
    display: inline-block; }
    @media only screen and (max-width: 736px) {
      .header__link--title {
        display: block; } }
  .header__link--nav {
    border-right: 1px solid #aaa;
    padding: 0 3px 0 3px; }
    .header__link--nav:last-of-type {
      border: 0; }
    .header__link--nav:visited, .header__link--nav:hover, .header__link--nav:active {
      color: #aaa; }

.post {
  font-family: "Merriweather", serif;
  text-align: left; }
  .post .terminal {
    padding: 3px;
    border: 1px solid #111;
    background-color: #aaa;
    color: #fff; }
  .post:ul, .post:ol {
    margin-left: 3px; }
  .post:after {
    content: "";
    display: table;
    clear: both; }
  .post__category {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Merriweather Sans", sans-serif;
    font-size: .7em;
    font-weight: 700;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase; }
  .post blockquote {
    border-left: 0; }
    .post blockquote p:before {
      font-family: FontAwesome;
      position: relative;
      top: 0.2em;
      content: "\f10d";
      font-size: 4em;
      margin-right: 0.2em; }
  .post img {
    max-height: 400px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px; }
  .post__title {
    font-family: "Merriweather Sans", sans-serif;
    letter-spacing: 1px;
    display: block;
    font-size: 51px;
    line-height: 52px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: "Lusitana", serif;
    font-weight: 700;
    margin-bottom: .5em; }
  .post__date {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em; }
  .post__content {
    font-family: "Merriweather", serif;
    line-height: 1.6em;
    font-size: .9em;
    margin-bottom: 1.5em;
    word-wrap: break-word; }
    .post__content span {
      font-family: "Merriweather Sans", sans-serif;
      font-weight: 700; }

.social {
  width: 100%;
  list-style: none;
  display: inline;
  text-align: center; }
  .social li {
    float: left;
    padding: 0 5px 0 5px;
    font-size: 1.5em; }

footer {
  font-size: 80%;
  color: #aaa;
  border-top: 2px solid #ddd;
  margin-top: 3px;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  text-align: center;
  margin: 3px; }

p {
  margin: 0 0 12px; }

h1 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 51px;
  line-height: 52px;
  font-weight: 900;
  letter-spacing: 1px; }

h2 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 34px;
  line-height: 41px;
  font-weight: 900; }

h3 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 19px;
  line-height: 27px; }

h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block; }

a {
  color: #0074D9;
  text-decoration: none; }
  a:visited {
    color: #0074D9; }
  a:hover {
    color: #0059a6; }
  a:active {
    color: #004b8c; }

.site {
  text-align: justify;
  max-width: 700px;
  margin: 3px auto;
  line-height: 12px; }
  .site__cover {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto; }

.post__title {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 19px;
  line-height: 27px;
  display: inline; }
  .post__title + * {
    display: inline; }

.post__link {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative; }
  .post__link span {
    font-family: "Lusitana", serif;
    font-style: normal;
    position: absolute;
    font-size: 1.5em;
    top: -1px;
    right: -12px; }

.post__description {
  font-family: "Merriweather", serif;
  line-height: 1.6em;
  font-size: .9em;
  margin-bottom: 1.5em;
  word-wrap: break-word; }

.post__date {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: .9em;
  margin-bottom: .3em; }

hr {
  width: 2px; }

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
