@import 'colors';

.markdown {
  ul {
    margin: .8em;
  }

  a:hover {
    border-bottom: 2px solid $bondi-blue;
  }

  figcaption {
    color: $graphite;
    display: block;
    font-style: normal;
    font-size: .8em;
    text-align: center;
  }

  .responsive-iframe {
    padding-bottom: 100%;
    position: relative;

    & iframe,
    & object,
    & Embed {
      overflow: hidden;
      background: none transparent;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .quote {
    margin: 0 0 0 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: $graphite;

    &:before, &:after {
      margin: 0.5em;
      color: $silver;
      font-size: 3em;
    }

    &:before {
      content: "“";
    }

    &:after {
      content: "”";
    }
  }

  .twitter-tweet {
    color: $graphite;
    padding: 1em 1em 0 1em;
    a {
      display: inline-block;
    }
    p {
      background-color: $white;
      color: $black;
      margin-bottom: 0.5em;
    }
  }
}
.author {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__intro {
    margin: 0 .8em;
  }
}
