@import 'colors';

.markdown {
  ul {
    margin: .8em;
  }

  figcaption {
    color: $graphite;
    display: block;
    font-style: normal;
    font-size: .8em;
    text-align: center;
  }

  .responsive-iframe {
    padding-bottom: 100%;
    position: relative;

    & iframe,
    & object,
    & Embed {
      overflow: hidden;
      background: none transparent;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
.author {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__intro {
    margin: 0 .8em;
  }
}
