// COLOR VARIABLES
// Cool
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$graphite:   #444;
$black:  #111;

body {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  color: $navy;
}
a {
  color: $blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  margin: 0 0 0 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: $graphite;

  &:before, &:after {
    margin: 0.5em;
    color: $silver;
    font-size: 3em;
  }
  &:before {
    content: "“";
  }
  &:after {
    content: "”";
  }
}

.social-networks {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.markdown {
  ul, ol {
    list-style-type: circle;
  }
}
.page-link {
  font-weight: 700;
  font-size: 1.25em;
  font-family: 'Montserrat'
}

.responsive-iframe {
  padding-bottom: 120%;
  position: relative;

  & iframe,
  & object,
  & Embed {
    overflow: hidden;
    background: none transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.markdown {
  img + em {
    color: $graphite;
    display: block;
    font-style: normal;
    font-size: .8em;
    font-family: 'Montserrat';
    text-align: center;
  }
}
