// COLOR VARIABLES
// Cool
$cerulean:  #01A1DD;
$bondi-blue:  #0089BC;
$plum: #3E015D;
$blue-gem: #1B0E8A;
$mandy: #E7597D;
// Gray Scale
$white:  #FFF;
$silver: #DDD;
$gray:   #AAA;
$graphite:   #444;
$black:  #111;

body {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  color: $bondi-blue;
}

a {
  color: $cerulean;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $bondi-blue;
  }
}

.quote {
  margin: 0 0 0 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: $graphite;

  &:before, &:after {
    margin: 0.5em;
    color: $silver;
    font-size: 3em;
  }
  &:before {
    content: "“";
  }
  &:after {
    content: "”";
  }
}

.twitter-tweet {
  color: $graphite;
  padding: 1em 1em 0 1em;
  a {
    display: inline-block;
  }
  p {
    background-color: $white;
    color: $black;
    margin-bottom: 0.5em;
  }
}

.social-networks {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__icon {
    transform: translateZ(1);
    transition-property: transform;
    transition-duration: 0.3s;
    flex-basis: 20%;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.markdown {
  ul {
    margin: .8em;
  }

  a:hover {
    border-bottom: 3px solid $bondi-blue;
  }

  img + em {
    color: $graphite;
    display: block;
    font-style: normal;
    font-size: .8em;
    text-align: center;
  }
  .responsive-iframe {
    padding-bottom: 120%;
    position: relative;

    & iframe,
    & object,
    & Embed {
      overflow: hidden;
      background: none transparent;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.page-link {
  font-weight: 700;
  font-size: 1.25em;
}
.landing {
  &__cover {
    background-color: $plum;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    object-fit: cover;
    padding: 1em 1em 0 1em;
    text-align: center;

    h1 {
      color: $white;
      margin: .5em 0;
    }

    a {
      color: $white;
    }
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    li {
      margin: 1em;
    }
  }
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__intro {
    margin: 0 .5em;
  }
}
