/* $TITLE **********************************************************************

Style rules for pamo github page
Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/

/* $CONTENTS *******************************************************************
* Imports
* Mixins
* Susy Grid
* Variables
* Base
* Layout
*******************************************************************************/

/* $IMPORTS *******************************************************************/
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "compass/utilities/general/clearfix";
@import "susy";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Amaranth:regular,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic);
@import "socicon";


/* $MIXINS ********************************************************************/
@import "blur-effect";

/* $SUSY GRID **********************************************************************/

$total-columns:   12;
$column-width:    4em;
$gutter-width:    1em;
$grid-padding:    $gutter-width;

/* $VARIABLES *****************************************************************/
$tablet: 8;
$computer: 55em 12;

$magenta:         rgb(249, 38, 114);
$yellow:          rgb(230, 219, 116);
$green:           rgb(166, 226, 46);

$base:            rgb(39, 40, 34);
$primary:         rgb(0, 0, 0);
$secondary:       rgb(117, 113, 94);
$emphasis:        $green;
$lightborder:     rgb(180,180,180);
$medborder:       rgb(39, 40, 34);
$darkborder:      rgb(40,40,40);
$blockquote:      $base;

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

/* $BASE ********************************************************************/
html, body {
  height: 100%;
}

body {
  color: $base;
  font-size: 1em;
  margin: 0;
  font-family: 'Cabin', Helvetica, arial, sans-serif;
}

h1{
  @include adjust-font-size-to(48px);
}

h2{
  @include adjust-font-size-to(24px);
}

p{
  @include adjust-font-size-to(19px);
}

/* $LAYOUT ********************************************************************/

header, section, footer, .container {
    @include container;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Amaranth', sans-serif;
}

.container:before{
    content: "";
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    @include blur-effect(3px, 0.95);
}

hr {
  border: 1px solid $lightborder;
}

.main-bio{
    @include span-columns(8 omega, 12);
    margin: 10px 0 10px 0;
    top: 50%;
    position: fixed;
}
