/* $TITLE **********************************************************************

Style rules for pamo github page
Jump to individual sections by searching for "$SECTION TITLE"

*******************************************************************************/

/* $CONTENTS *******************************************************************
* Imports
* Mixins
* Variables
* Base
* Layout
*******************************************************************************/

/* $IMPORTS *******************************************************************/
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

/* $MIXINS ********************************************************************/

/* $VARIABLES *****************************************************************/


$magenta:         rgb(249, 38, 114);
$yellow:          rgb(230, 219, 116);
$green:           rgb(166, 226, 46);

$base:            rgb(39, 40, 34);
$primary:         rgb(248, 248, 242);
$secondary:       rgb(117, 113, 94);
$emphasis:        $green;
$lightborder:     rgb(180,180,180);
$medborder:       rgb(39, 40, 34);
$darkborder:      rgb(40,40,40);
$blockquote:      $base;

/* $BASE ********************************************************************/
html, body {
  height: 100%;
}

body {
  background-color: $base;
  color: $primary;
  font-size: 1em;
  margin: 0;
  font-family: Consolas, Inconsolata, Monaco, monospace;
}

/* $LAYOUT ********************************************************************/

header, section, footer, .container {
  background-color: $base;
}

footer{
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  border-top: 1px solid $lightborder;
  margin-top: 2em;
}

nav {
  text-align: right;
}

aside {
  border-top: 2px solid $darkborder;
  min-height: 5em;
  padding-top: 1em;
}

article {
  border-top: 2px solid $medborder;
  margin-bottom: 3em;
  padding-top: 1em;
}

section.single article {
  padding-top: 0;
}

hr {
  border: 1px solid $lightborder;
}

h1 a{
  color: $magenta;
}

a {
  color: $green;
}

.container{
  @include outer-container;
}
.main-photo{
  @include span-columns(3);
}
.main-bio{
  @include span-columns(9);
}