/* $TITLE **********************************************************************

Style rules for pamo github page
Jump to individual sections by searching for "$SECTION TITLE"

 *******************************************************************************/
/* $CONTENTS *******************************************************************
 * Imports
 * Mixins
 * Variables
 * Base
 * Layout
 *******************************************************************************/
/* $IMPORTS *******************************************************************/
/* $MIXINS ********************************************************************/
/* $VARIABLES *****************************************************************/
/* $BASE ********************************************************************/
html, body {
  height: 100%; }

body {
  background-color: whitesmoke;
  color: #666666;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0; }

/* $LAYOUT ********************************************************************/
header, section, footer {
  padding-left: 0;
  padding-right: 0; }

.header-wrapper {
  border-bottom: 2px solid #eeeeee; }

nav {
  text-align: right; }

aside {
  border-top: 2px solid #dddddd;
  min-height: 5em;
  padding-top: 1em; }

article {
  border-top: 2px solid #eeeeee;
  margin-bottom: 3em;
  padding-top: 1em; }

section.single article {
  padding-top: 0; }

.footer-wrapper {
  border-top: 2px solid #eeeeee;
  margin-top: 2em; }

footer {
  padding-bottom: 2.5em;
  padding-top: 2.5em; }

hr {
  border: 1px solid #eeeeee; }
