{
  "extends": ["eslint-config-airbnb"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": [0],
    "func-names": [0],
    "no-extra-semi": [2],
    "no-param-reassign": [0],
    "no-else-return": [0],
    "space-infix-ops": [0],
    "react/jsx-filename-extension": [0],
    "react/prefer-es6-class": [0],
    "import/no-unresolved": [2, { "ignore": ["loader|react-router|css|sass"] }],
    "import/no-extraneous-dependencies": [0],
    "import/extensions": [0]
  },
  "globals": {
    "__PREFIX_LINKS__": true,
  },
}
