### Node ###
logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules


### Jekyll ###
_site/**/*

### Sass ###
.sass-cache

### Bower ###
bower_components
.ruby-version
.DS_Store
Gemfile.lock
