@font-face {
	font-family: 'socicon';
	src: url('fonts/socicon/socicon-webfont.eot');
	src: url('fonts/socicon/socicon-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/socicon/socicon-webfont.woff') format('woff'),
	url('fonts/socicon/socicon-webfont.ttf') format('truetype'),
	url('fonts/socicon/socicon-webfont.svg#sociconregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.socicon {
	font-family: 'socicon' !important;
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'socicon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.socicon:empty{
	width: 1em;
}

.socicon {
	.socicon-twitter:before { content: "a"; }
	.socicon-facebook:before { content: "b"; }
	.socicon-google:before { content: "c"; }
	.socicon-pinterest:before { content: "d"; }
	.socicon-foursquare:before { content: "e"; }
	.socicon-linkedin:before { content: "j"; }
	.socicon-viadeo:before { content: "k"; }
	.socicon-soundcloud:before { content: "n"; }
	.socicon-spotify:before { content: "o"; }
	.socicon-lastfm:before { content: "q"; }
	.socicon-youtube:before { content: "r"; }
	.socicon-instagram:before { content: "x"; }
	.socicon-tumblr:before { content: "z"; }
	.socicon-github:before { content: "Q"; }
	.socicon-coderwall:before { content: "2"; }

}