.footer {
    color: $gray;
    border-top: 1px solid $silver;
    margin: $base-spacing 0 $base-spacing 0;
    padding: $small-spacing 0 $base-spacing 0;
    &__social {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;
        li {
            padding: 0 $small-spacing 0 $small-spacing;
            font-size: 1.5em;
        }
    }
}
