.footer {
    color: $gray;
    border-top: 1px solid $silver;
    margin-top: $base-spacing;
    padding: $small-spacing 0 $base-spacing 0;
    &__social {
	list-style: none;
	li {
	    float: left;
	    padding: 0 $small-spacing 0 $small-spacing;
	    font-size: 1.5em;
	}
    }
}
