.header {
    margin-bottom: $base-spacing;
    &__link {
	@include nav_anchor;
	text-decoration: none;
	text-transform: lowercase;

	&--title {
	    @include h1_style;
	    color: $aqua;
	    display: inline-block;
	    @media only screen and (max-width: 736px){
		display: block;
	    }
	}

	&--nav {
	    border-right: 1px solid $gray;
	    padding: 0 $base-spacing 0 $base-spacing;
	    &:last-of-type {
		border: 0;
	    }
	    &:visited, &:hover, &:active {
		color: $gray;
	    }
	}
    }
}
