.post {
   @include outer-container;

   font-family: $serif-2;
   text-align: left;

   .terminal {
      padding: $base-spacing;
      border: 1px solid $black;
      background-color: $gray;
      color: $white;
   }

   ul {
      @extend %default-ul;
   }

   ol {
      @extend %default-ol;
   }

   &__category {
      border-bottom: 1px solid;
      display: inline-block;
      font-family: $sans-serif;
      font-size: .7em;
      font-weight: 700;
      margin-bottom: 2em;
      padding: .3em 0;
      text-align: left;
      text-transform: uppercase;
   }

   blockquote {
      border-left: 0;
      p:before {
	 font-family: FontAwesome;
	 position: relative;
	 content:"\f10d";
	 font-size: $base-font-size*2;
	 margin-right: $small-spacing;
      }
   }

   img {
      max-width: 33%;
      height: auto;
      float: left;
      margin-right: $base-spacing;

      @include media($desk){
	 margin-bottom: $base-spacing;
	 max-width: 100%;
      }
   }

   .emoji {
      vertical-align: top;
      float: none;
      max-width: none;
      margin: 0;
   }

   &__title {
      @include h1_style;
   }

   &__date {
      font-style: italic;
   }

   &__content {
      font-family: $serif-2;
      line-height: 1.6em;
      font-size: .9em;
      margin-bottom: 1.5em;
      word-wrap: break-word;

      span {
	 font-family: $sans-serif;
	 font-weight: 700;
      }
   }

   .instagram-media {
      margin: $base-spacing auto $base-spacing;
      padding: 0;
      width: 100%;
      border: 0;
      border-radius: 3px;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 10px 0 rgba(0,0,0,0.15);
   }

   @include media($desk){
      .instagram-media {
	 width: 70%;
	 width: calc(70%);
      }
   }

   &__photo-set {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;

      img {
	 &:first-of-type {
	    flex-grow: 1;
	 }
	 &:last-of-type {
	    flex-grow: 1;
	 }
	 align-self: stretch;
      }
   }
}
