/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
$base-spacing: 1.4em;
/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: center;
    margin: $base-spacing;
}
p { margin: 1em 0; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    text-align: justify;
    max-width: 50em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    text-transform: lowercase;
    display: block;
    @media only screen and (min-width: 64.063em){
        display: inline-block;
    }
}

.title a {
}

.title a:hover {
    color: #000;
}

.header a.extra {
    color: #aaa;
    &:not(:first-of-type){
        margin-left: 1em;
    }
}

.header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

footer {
    font-size: 80%;
    color: #666;
    border-top: 2px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
