@import "variables";
@import "typography";
@import "header";
@import "posts";
@import "footer";

@mixin box-sizing($type:border-box) {
  -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
     -moz-box-sizing: $type; // Firefox < 29
          box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

* {
    margin: 0;
    padding: 0;
    @include font-smoothing;
}

html, body { 
  font-size: $base-font-size; 
  height: 100%; 
}

body {
    background: $white;
    color: $black;
    @include font_smoothing;
    @include base_typography;
    padding: 0 $base-spacing $base-spacing $base-spacing;
    margin: 0;
    line-height: $base-line-height; // Set to $base-line-height to take on browser default of 150%
}

p { 
  margin: 0 0 $base-spacing;
}

h1 {
    @include h1_style;
}

h2 {
    @include h2_style;
}

h3 {
    @include h3_style;
}

h4, h5, h6 {
    @include heading;
}
a {
    @include anchor;
}

.site {
    text-align: justify;
    max-width: 700px;
    margin: $base-spacing auto;
    line-height: $base-font-size;

    &__cover {
      max-width: 100%;
      height: auto;
  }
}

.postDescription {
    &__title {
	display: inline;
	& + * {
	    display: inline;
	}
    }

    &__link {
	display: inline-block;
	font-family: $sans-serif;
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
	margin-left: .2em;
	position: relative;

	span {
	    font-family: $serif;
	    font-style: normal;
	    position: absolute;
	    font-size: 1.5em;
	    top: -1px;
	    right: -$base-spacing;
	}
    }

    &__truncatedContent {
      font-family: $serif-2;
      font-size: .9em;
      margin-bottom: $base-spacing;
      word-wrap: break-word;
   }

    &__date {
	font-family: $serif-2;
	font-style: italic;
	font-size: .9em;
	margin: $base-spacing 0 $half-spacing-unit 0;
    }
}

hr {
    width: 1px;
}

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  &:before, &:after {
     content: " ";
     display: table;
  }
  &:after {
     clear: both;
  }
}
