@import "variables";
@import "typography";
@import "header";
@import "posts";
@import "footer";

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background: white;
    @include font_smoothing;
    @include base_typography;
    text-align: center;
    margin: $base-spacing;
}

p { margin: $base-spacing 0; }

h1 {
    @include h1_style;
}

h2 {
    @include h2_style;
}

h3 {
    @include h3_style;
}

h4, h5, h6 {
    @include heading;
}
a {
    @include anchor;
}

.site {
    text-align: justify;
    max-width: 700px;
    margin: $base-spacing auto;
    line-height: $base-font-size;
}

.post {
    &__title {
       @include h3;
	display: inline;
	& + * {
	    display: inline;
	}
    }

    &__link {
	display: inline-block;
	font-family: $sans-serif;
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
	margin-left: .2em;
	position: relative;

	span {
	    font-family: $serif;
	    font-style: normal;
	    position: absolute;
	    font-size: 1.5em;
	    top: -1px;
	    right: -12px;
	}
    }

    &__description {
      font-family: $serif-2;
      line-height: 1.6em;
      font-size: .9em;
      margin-bottom: 1.5em;
      word-wrap: break-word;
   }


    &__date {
	font-family: $serif-2;
	font-style: italic;
	font-size: .9em;
	margin-bottom: .3em;
    }
}

hr {
    width: 2px;
}

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  &:before, &:after {
     content: " ";
     display: table;
  }
  &:after {
     clear: both;
  }
}
