@import "common";
@import "syntax";
@import "header";
@import "posts";
@import "footer";
body {
    background: white;
}

.site {
    text-align: justify;
    max-width: 700px;
    margin: $base-spacing auto;
    line-height: $base-font-size;
}

.meta {
    color: $gray;
}
