<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- WebFonts -->
        <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/lib/foundation.css">
        <link rel="stylesheet" href="/css/lib/font-awesome.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/about.html">about</a>
          </div>

          {{ content }}

          <footer>
            <div class="contact">
                <ul class="social">
                    <li><a href="http://twitter.com/pmocampo"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://github.com/pamo"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://facebook.com/pamocampo"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://foursquare.com/pmocampo"><i class="fa fa-foursquare"></i></a></li>
                    <li><a href="http://instagram.com/pmocampo"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="http://pamo.tumblr.com"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
          </footer>
        </div>

    </body>
</html>
