---
layout: default
---
{% assign set_size = page.photos.size %}

<article class="post">
    <h2 class="post__title">{{ page.title }}</h2>
    <h4 class="post__date">{{ page.date | date_to_string }}</h4>
    <div class="post__photo-set">
        <ul>
            {% for i in (1..set_size) %}
            <img src="{{site.baseurl}}/images/photo_sets/{{page.photos.set}}/{{i}}.jpg" alt="Photo from {{ page.photos.set | capitalize | gsub(' ', '-') }}">
            {% endfor %}
        </ul>
    </div>
    <p class="post__content">{{ content }}</p>
    <h3 class="post__category">{{ page.category }}</h3>
</article>
